@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  .wrapper {
    @apply max-w-3xl lg:mx-auto p-5 w-full;
  }

  body {
    @apply text-gray-400;
  }

  .primary-text {
    @apply text-[#EDEDED];
  }

  .secondary-text {
    @apply text-[#A3A3A3];
  }

  .accent-text {
    @apply text-[#9CA3AF];
  }

  .badge-background {
    @apply bg-[#006064];
  }

  .link {
    @apply cursor-pointer hover:text-[#006064];
  }
}

@keyframes slide-right-to-left {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-from-right {
  animation: slide-right-to-left 0.5s ease-out forwards;
  opacity: 0;
}
